<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<div class="container">
    <div class="container" id="head">
        <h1>CU Boulder Clubs</h1>
    </div>
    <div class="container mx-2 my-2" id="search">
        <input type="text" class="form-control" id="searchBar" onkeyup="searchTable()" placeholder="Search for clubs...">
    </div>
    
    <div class="container mx-2 my-2" id="table">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Club Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Meeting Time</th>
                    <th scope="col">Meeting Location</th>
                    <th scope="col">Members</th>
                </tr>
            </thead>
            <tbody id="clubTable">
                <% clubs.forEach(function(club) { %>
                <tr>
                    <td><a href="/clubs/<%= club.club_id %>"><%= club.club_name %></a></td>
                    <td><%= club.club_description %></td>
                    <td><%= club.category %></td>
                    <td><%= club.meeting_time %></td>
                    <td><%= club.location %></td>
                    <td><%= club.members %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>

    <div class="container mx-2 my-2" id="cards">
        <!-- Display all the clubs in order as cards with three columns -->
        <div class="row">
            <% clubs.forEach(function(club) { %>
                <div class="col-md-4">
                    <div class="card my-3">
                        <div class="card-header">
                            <a href="/clubs/<%= club.club_id %>"><h5><%= club.club_name %></h5></a>
                        </div>
                        <div class="card-body">
                            <p><%= club.club_description %></p>
                            <p><%= club.category %></p>
                            <p>Meets: <%= club.meeting_time %> @ <%= club.location %></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <div class="container mx-2 my-2" id="sortOptions">
        <select class="form-control my-3" id="sort" oninput="sortTable()">
            <option value="name">Name</option>
            <option value="category">Category</option>
            <option value="members">Members</option>
        </select>
        <select class="form-control my-3" id="category" oninput="filterTable()">
            <option value="ALL" selected>All</option>
            <% for (let i = 0; i < categories.length; i++) { %>
                <option value="<%= categories[i].category_name %>"><%= categories[i].category_name %></option>
            <% } %>
        </select>
        <input class="form-check-input my-2 mx-3" type="checkbox" id="reverse" onclick="reverseTable()"> Reverse</input>
        <input class="form-check-input my-2 mx-3" type="checkbox" id="cardView" onclick="toggleView()"> Card View</input>
        <% if (admin) { %>
        <div class="container my-4" id="adminOptions">
            <h3>ADMIN OPTIONS</h3>
            <a href="/add/club" class="btn btn-primary my-2">Add Club</a>
        </div>
        <% } %>
    </div>
</div>

<%- include ('../partials/footer') %>