<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<div class="container"/>
    <div class="container">
        <h1><%= club.club_name %></h1>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Club Name</th>
                    <th>Club Location</th>
                    <th>Club Description</th>
                    <th>Club Image</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= club.club_name %></td>
                    <td><%= club.club_location %></td>
                    <td><%= club.club_description %></td>
                    <td><img src="<%= club.club_image %>" alt="club image" width="200" height="200"></td>
                </tr>
            </tbody>
        </table>
        <form action="/joinclub" method="POST">
            <input type="hidden" name="club_id" value="<%= club.club_id %>">
            <button type="submit" class="btn btn-primary">Join Club</button>
          </form>
        <% if (admin) { %>
        <div class="container my-3" id="adminOptions">
            <h3>ADMIN OPTIONS</h3>
            <a href="/clubs/<%= club.club_id %>/edit" class="btn btn-primary my-2">Edit Club</a>
            <a href="/clubs/<%= club.club_id %>/delete" class="btn btn-danger my-2">Delete Club</a>
        </div>
        <% } %>
          
    </div>
</div>
<%- include ('../partials/footer') %>