<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<div class="container">
    <h1>Edit <%= club.club_name %></h1>
</div>
<div class="container mt-3">
    <form action="/clubs/<%= club.club_id %>/edit" method="POST">
        <div class="form-group">
            <label for="club_name">Club Name</label>
            <input type="text" class="form-control" id="club_name" name="club_name" value="<%= club.club_name %>">
        </div>
        <div class="form-group">
            <label for="description">Club Description</label>
            <input type="text" class="form-control" id="description" name="description" value="<%= club.club_description %>">
        </div>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option value="NULL" selected>Open this select menu</option>
            <% categories.forEach(function(category) { %>
                <option value="<%= category.category_name %>"><%= category.category_name %></option>
            <% }); %>
        </select>
        <div class="form-group">
            <label for="meeting_time">Club Meeting Time</label>
            <input type="text" class="form-control" id="meeting_time" name="meeting_time" value="<%= club.meeting_time %>">
        </div>
        <div class="form-group">
            <label for="meeting_location">Club Meeting Location</label>
            <input type="text" class="form-control" id="location" name="location" value="<%= club.location %>">
        </div>
        <div class="form-group">
            <label for="members">Club Member Count</label>
            <input type="text" class="form-control" id="members" name="members" value="<%= club.members %>">
        </div>
    </form>
</div>


<%- include ('../partials/footer') %>